.main{ 
	display: flex;
	flex-direction: column;
 }
 body{
	background-image: url(image2.jpg); background-size: cover;
}
 .left{

	width: 20%;

}
.left img{ height: 30%; width: 40%; margin-left:0%;  border-radius: 15%; transition:  width 2s, height 2s, transform 3s; box-shadow:4px 4px 4px 4px black;}
.left img:hover{ transform: rotate(360deg) scale(0.5, 0.5); }
 
 .right{
 	width: 70%;
 }


	
.home nav {height: 10%; width: 20%; margin-left:80%;  border-radius: 10%; transition:  width 2s, height 2s, transform 3s; box-shadow:4px 4px 4px 4px black; 
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	padding: 0px;
	font-size: 15px;
}
a{ color: yellow; text-decoration: none; transition:  width 2s, height 2s, transform 3s;}
a:hover{background:maroon; transform: rotate(20deg);}

.intro{
	height: 40%; width: 40%; margin-left:0%;  border-radius: 15%;
	color: white;
	padding: 20px;
	font-size: 15px;

}