@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Anton|Fjalla+One|Jim+Nightshade|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Anton|Fjalla+One|Jim+Nightshade|Noto+Serif|Slabo+27px');

*{margin: 0px;
padding: 0px;}


.main{ 
	
	display: flex;
	flex-direction: column;
	margin:0px;
 }
 body{
	background-image: url(../images/image2.jpg);
	 background-size: cover;
	 background-repeat: no-repeat;
}
 .left{
 	background-color: none;
 	margin:0px;
}
.main img{ 	
			height: 200px; 
			width: 200px; 
			margin: auto;
			display:block;
			border-radius: 100%; 
			transition:  width 2s, height 2s, transform 3s; 
			box-shadow:4px 4px 4px 4px black;}
 span img:hover{ transform: rotate(360deg) scale(1.2, 1.2); }
 
 header{background-color: grey; opacity: .8;}
header nav {height: 10%; 
			width: 20%;
			border-radius: 10%; 
			transition:  width 2s, height 2s, transform 3s; 
			box-shadow:4px 4px 4px 4px black; 
			display: flex;
			flex-direction: row;
			padding: 0px;
			font-size: 15px;
}

header  ul{
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
}
header  ul li{
	width: 10%;
	justify-content:flex-end;
	list-style: none;
	margin: 5px;
	transition-duration: 1s;

}
a{ color: yellow; 
	text-decoration: none; 
	transition:  width 5s, height 5s, transform 5s;
	font-size: 2em;
}

header ul li:hover{
						transform: scale(1.3,1.3);

}
header  ul li a:hover{color: red;}


p.nametext{
	text-align:center;
	color:white;
	font-size: 4em;
	margin-top: 50px;
	font-family: 'Griffy', cursive;
	margin-bottom: 0px;
}
p.text{
	margin-top: 0px;
	font-size:2em;
	color:#800020;
	font-family: 'EB Garamond', serif;
	background-color: white; opacity: .8;
}
.rightside{
	padding: 20px;
}


@media(max-width: 800px)
{
	body{background-image: url(../images/image2.jpg);}
header  ul{
	display: flex;
	flex-direction: column;
	padding-left: 30%;
	margin-bottom: 30px;
}.footer{ padding-left: 50px; }
p.text{padding-left: 10%;}
}

/*Bio Css*/
.biocontent h1 {
	text-align:center;
	color:purple;
	font-size: 2em;
	margin-top: 50px;
	font-family: 'Slabo 27px', serif;
	font-family: 'Jim Nightshade', cursive;
	font-family: 'Fjalla One', sans-serif;
	font-family: 'Anton', sans-serif;
	margin-bottom: 0px;
}
.biocontent h1{background-color: white}
.biocontent h1:hover{transition:  width 5s, height 5s, transform 5s}
.biocontent h1:hover{ transform: scale(1.3,1.3); color: red}


.information p{ text-align: center;  background-color: #ffffff; opacity: .6;}
.information p{font-family: 'Slabo 27px', serif;
font-family: 'Jim Nightshade', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Noto Serif', serif; font-size: 1.3em; color: black;}

/*CV css*/
.cvcontent{
	
	height:100px;
	display: flex;
	flex-direction: column;
	margin:0px;
	
}
p.tabletext{

	align-content: center;
	color:purple;
	font-size: 2em;
	margin-top: 50px;
	font-family: 'Griffy', cursive;
	margin-bottom: 0px;
	}

.leftside{ 
	align-content: center;
	 color:brown;
	  font-style: oblique;
	  font-family: 'Slabo 27px', serif;

}

p.nametext{
	text-align:center;
	color:white;
	font-size: 4em;
	margin-top: 50px;
	font-family: 'Griffy', cursive;
	margin-bottom: 0px;
}
p.text{
	
	color:purple;
	font-size: 2em;
	margin-top: 50px;
	font-family: 'Griffy', cursive;
	margin-bottom: 0px;
	}
.rightside {
	padding: 20px;
}
.rightside p{
	font-size: 2.5em;
}
.rightside ul li{
	font-size: 1.2em;
	color: white;
}
.baa{display: flex; flex-direction:row;
padding: 10px;
}
.baa{background-color: #ffffff; opacity: .8;}
.BCC{ margin-left: 10px; }
.BCC ul li {color: blue}
.HSS{ margin-left: 10px; }
.HSS ul li {color: blue}
.SSS{ margin-left: 10px; }
.SSS ul li {color: blue}

ul{list-style-type: none;}


/*Css of Contact page*/
.form{padding-left: 10%
	padding-right: 50%}
.form{background-color: #ffffff; opacity: .8;}
.footer{  background-color: rgba(0, 150, 255,); }
.footer p{font-size: 2em; color: black; text-align: center;}
.footer2{display: flex;flex-direction: row; justify-content: center;}
.footer a{ 
	padding-right: 30px; }
.footer img{
	margin-top: 20px;
	border-radius: 40%;
	height:52px;
	width:52px;
}
.footer{background-color: grey; opacity: .8;}
